.App {
  text-align: center;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Ubuntu, sans-serif;
}

body {
  background-color: #1e1e1e;
}

input {
  font-size: 14px;
  line-height: 20px;
  padding: 8px 8px;
  width: 100%;
  min-height: 30px;
  border: unset;
  outline-color: rgba(12, 13, 16, 0.5);
  background-color: #ffffff;
}

.btn-close {
  cursor: pointer;
  border: 1px solid #ffffff;
  border-radius: 25%;
  position: fixed;
  right: calc(25% - 10px);
  top: 23%;
}
